.rocket-details {
  color: white;
}

.rocket-details .big-rocket-image img{
  height: auto;
  width: auto;
}

.rocket-images img{
  width: auto;
  height: auto;
}

.rocket-details mat-grid-tile {
  background: #330065;
}

.rocket-details .mat-grid-tile .mat-grid-tile-header,
.rocket-details .mat-grid-tile .mat-grid-tile-footer {
  background: #330065;
}

.rocket-details .info-item .info-item-value {
  padding-top: 2.5em;
}

.rocket-details .info-item .mat-figure {
  justify-content: left;
  padding-left: 1em;
}

.rocket-details .rocket-description div {
  padding: 1em;
}

.rocket-details .rocket-description a {
  color: #afbbff;
}
