<mat-grid-list cols="12" class="rocket-details" rowHeight="100" gutterSize="1em" *ngIf="rocket | async as rocket">
  <mat-grid-tile class="info-item" colspan="{{colsMult*3}}">
    <mat-grid-tile-header>Rocket name</mat-grid-tile-header>
    <h1  class="mat-h1 info-item-value">{{rocket?.rocket_name}}</h1>
  </mat-grid-tile>
  <mat-grid-tile class="info-item" colspan="{{colsMult*3}}">
    <mat-grid-tile-header>Rocket Type</mat-grid-tile-header>
    <h1  class="mat-h1 info-item-value">{{rocket?.rocket_type}}</h1>
  </mat-grid-tile>
  <mat-grid-tile rowspan="3" colspan="{{colsMult*6}}" class="big-rocket-image"><img src="{{getFirstRocketImage(rocket)}}" /></mat-grid-tile>
  <mat-grid-tile class="info-item" colspan="{{colsMult*3}}">
    <mat-grid-tile-header>Status</mat-grid-tile-header>
    <h1  class="mat-h1 info-item-value">{{rocket?.active ? 'Active' : 'Inactive'}}</h1>
  </mat-grid-tile>
  <mat-grid-tile class="info-item" colspan="{{colsMult*3}}">
    <mat-grid-tile-header>Stages</mat-grid-tile-header>
    <h1  class="mat-h1 info-item-value">{{rocket?.stages}}</h1>
  </mat-grid-tile>

  <ng-container *ngIf="!isSmallScreen">
    <mat-grid-tile class="info-item" colspan="2">
      <mat-grid-tile-header>Height</mat-grid-tile-header>
      <h1  class="mat-h1 info-item-value">{{rocket?.height.meters}}m</h1>
    </mat-grid-tile>
    <mat-grid-tile class="info-item" colspan="2">
      <mat-grid-tile-header>Diameter</mat-grid-tile-header>
      <h1  class="mat-h1 info-item-value">{{rocket?.diameter.meters}}m</h1>
    </mat-grid-tile>
    <mat-grid-tile class="info-item" colspan="2">
      <mat-grid-tile-header>Mass</mat-grid-tile-header>
      <h1  class="mat-h1 info-item-value">{{rocket?.mass.kg}}kg</h1>
    </mat-grid-tile>
  </ng-container>

  <mat-grid-tile colspan="{{6*colsMult}}" rowspan="4" class="rocket-description">
    <div>{{rocket?.description}}kg</div>
    <mat-grid-tile-footer><a href="{{rocket?.wikipedia}}" target="_blank">{{rocket?.wikipedia}}</a></mat-grid-tile-footer>
  </mat-grid-tile>

  <ng-container *ngIf="!isSmallScreen">
    <mat-grid-tile colspan="2" rowspan="2" class="rocket-images" *ngFor="let imageUrl of rocket?.flickr_images | slice:1">
      <img src="{{imageUrl}}"/>
    </mat-grid-tile>
  </ng-container>

</mat-grid-list>
