mat-grid-list {
  margin-bottom: 1em;
}

.rocket mat-grid-tile {
  background: #028c9c;
}

.rocket .image-tile .mat-figure {
  justify-content: end;
}

.rocket .mat-card {
  background: #028c9c;
  color: white;
  height: 180px;
}

.rocket img {
  max-width: 200px;
  padding-right: 1em;
}

.search-form {
  display: flex;
  flex-direction: row;
  color: white;
  padding: 2em;
}

.search-form mat-form-field, .search-form section {
  margin-right: 1em;
}

.search-form label {
  color: white;
}

.search-form .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(255, 253, 255, 0.1);
}

.search-form .mat-form-field-appearance-fill .mat-form-field-label {
  color: white;
}

.search-form .mat-form-field-appearance-fill .mat-select-value-text {
  color: white;
}

.search-form .mat-checkbox-layout .mat-checkbox-frame {
  background-color: white;
}
