<form class="search-form" novalidate>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput name="name" (input)="rocketFilterNameUpdate($event)" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Sort By</mat-label>
    <mat-select (selectionChange)="rocketFilterSortByUpdate($event)">
      <mat-option value="heightAsc">Height ASC</mat-option>
      <mat-option value="heightDesc">Height DESC</mat-option>
      <mat-option value="diameterAsc">Diameter ASC</mat-option>
      <mat-option value="diameterDesc">Diameter DESC</mat-option>
    </mat-select>
  </mat-form-field>
  <section appearance="fill">
      <mat-checkbox (change)="rocketFilterActiveUpdate($event)">Active</mat-checkbox>
  </section>
  <section appearance="fill"><button mat-raised-button (click)="rocketFilterReset()">Reset</button></section>
</form>

<mat-grid-list *ngFor="let rocket of rockets | async" class="rocket" cols="2" rowHeight="200" gutterSize="0">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>{{rocket.rocket_name}}</mat-card-title>
      <mat-card-content *ngIf="!isSmallScreen">
        <p class="description">{{rocket.description}}</p>
      </mat-card-content>
      <mat-card-footer>
        <button mat-button  (click)="onSelect(rocket)">Details</button>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="image-tile"><img src="{{getRocketImage(rocket)}}" /></mat-grid-tile>
</mat-grid-list>
